/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 50%;

}




header .navegacion ul li a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

header .navegacion ul li a:hover {
    background: rgba(0, 0, 0, 0.281);
    color: white;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    float: right;
    padding: 10px;
}

.container .imagenes {
    width: 250px;
    height: 250px;
    background: white;
    border: 1px solid black;
    padding: 5px;
}